<template name="listing">
	<div id="editions">
		<div class="row">
			<div class="large-12 columns large-centered">
	            <ul class="clearfix">
	            	<div class="large-{{columns}} columns text-center">
		                <li>
		                    <a href="/edition">@EFLU
		                        <span class="date">September 21</span>
		                    </a>
		                </li>
	            	</div>

	            	<div class="large-{{columns}} columns text-center">
		                <li>
		                    <a href="/edition">@Metropolis
		                        <span class="date">October 5-6</span>
		                    </a>
		                </li>
	            	</div>

	            	<div class="large-{{columns}} columns text-center">
		                <li>
		                    <a href="/edition">@BITS
		                        <span class="date">October 11</span>
		                    </a>
		                </li>
	            	</div>

	            	<!-- <div class="large-{{columns}} columns text-center">
		                <li>
		                    <a style="line-height: 1.1; padding-top: 90px;" href="/edition/host-your-edition"><i class="fa fa-plus"></i>  Host your edition</a>
		                </li>
	            	</div> -->
	    		</ul>
			</div>
		</div>
	</div>
</template>