<template name="index">

		<div class="row header">
			<div class="large-12 columns">
				<div class="row">
			  	<div class="large-3 large-offset-2 columns">
						<div class="introduction">
							<h1>Be part of the innovation culture</h1>
							<p><strong>Devthon</strong>
							is an event where creators come together, meet brilliant minds &amp; collaborate to work on ideas that create an impact.</p>
							<a href="/edition/host-your-edition">
								<button class="button button-host">Apply to host your edition</button>
							</a>
						</div>
	  			</div>
				</div>
			</div>
		</div>

    <!-- Editions Section -->
    {{> listing}}
</template>