<template name="footer">
    <footer>
        <div class="row">
            <div class="large-6 columns">
                <div class="copyright">
                    <p>Copyright &copy; Devthon 2014</p>
                </div>
            </div>
            <div class="large-6 columns">
                <ul class="list-inline social-buttons footer-social right">
                    <li><a href="https://www.facebook.com/devthon" target="_blank"><i class="foundicon-social-facebook"></i></a>
                    </li>
                    <li><a href="https://www.twitter.com/devthon" target="_blank"><i class="foundicon-social-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</template>